In [1]:
# Import the modules

import pandas as pd

In [2]:
# Read the DataFrame
df = pd.read_csv("riga_housing_11062023.csv")

In [3]:
# Checking everything loaded correctly
len(df)

5034

In [4]:
df.head()

,district,address,room_count,area,floors,house_type,price,latitude,longitude
0,Stāvs:,-,Sērija:103.104.119.467.602.Čehu pr.Hrušč.LT pr...,Sērija,Cena,M. ģim.,280 €/mēn.,51.770147,-1.264991
1,Stāvs:,-,Sērija:103.104.119.467.602.Čehu pr.Hrušč.LT pr...,Sērija,Cena,M. ģim.,280 €/mēn.,51.770147,-1.264991
2,Čiekurkalns,Rusova 30,1,36,3/5,M. ģim.,280 €/mēn.,56.986648,24.174007
3,Iļģuciems,Palangas 7,3,66,5/5,LT proj.,"60,500 €",56.970871,24.053865
4,Purvciems,Varavīksnes g. 14,1,31,3/9,602.,"40,000 €",56.952195,24.204837

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
# Dropping duplicates
df.drop_duplicates(inplace=True)

In [7]:
df.dtypes

district       object
address        object
room_count     object
area           object
floors         object
house_type     object
price          object
latitude      float64
longitude     float64
dtype: object

In [8]:
df['longitude'] = pd.to_numeric(df['longitude'], errors='coerce')

In [9]:
df.dropna(subset=['longitude'], inplace=True)

In [10]:
len(df)

3944

In [11]:
df = df.loc[df['longitude'] < 24.3]
df = df.loc[df['longitude'] > 23.90]

In [12]:
len(df)

3653

In [13]:
df = df.loc[df['latitude'] > 56.85]
df = df.loc[df['latitude'] < 57.1]

In [14]:
len(df)

3653

In [ ]:
print(df[300:400])

In [ ]:
print(df['latitude'].max())
print(df['latitude'].min())

In [ ]:
print(df['longitude'].max())
print(df['longitude'].min())